/* home */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.home__container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 700px;
    margin: 0 24px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.71);
}

.home__left {
    width: 50%;
}

.home__img {
    object-fit: cover;
}

.home__right {
    width: 50%;
    background-color: rgb(250, 238, 238);
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.home__img--logo {
    width: 250px;
    height: 250px;
}

.home__right--slogan {
    font-size: 52px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 24px;

}

.home__right--bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* categories */

.categories__title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 54px;
    font-weight: 900;
}

.categories {
    display: flex;
    flex-wrap: wrap;
}

.category {
    width: calc((100% / 2));
    padding: 16px;
}


.category__card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5%;
    cursor: pointer;
}

.categories__img {
    max-width: 100%;
    max-height: 350px;
    transition: all 600ms ease;
}

.category__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff3e0;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    transition: all 600ms ease;
}

.category__card:hover .categories__img {
    transform: scale(1.07);
    filter: blur(3px);
}

.category__card:hover .category__name {
    transform: translate(-50%, -50%) scale(1.1);

}

/* Recipes */

#recipes .container{
 padding: 40px 24px;
}

.category__choices{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    
}

.category__choice{
    width: calc(100%/7); 
    padding: 8px;   
    text-align: center;

}

.category__choice--name{
    background-color:white;
    border-radius: 9999px;
    padding: 8px 0;

}

.recipes {
    display: flex;
    flex-wrap: wrap;

}

.recipe {
    width: calc(100%/4); 
    padding: 16px;
    
}

.recipe__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 10px;

}

.recipe__card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.recipe__img {
    transition: all 600ms ease;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.recipe__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff3e0;
    opacity: 0;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    transition: all 600ms ease;
   
}

.recipe__card:hover .recipe__name {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
}


.recipe__card:hover .recipe__img {
    transform: scale(1.07);
    filter: blur(3px);
}

/* recipe */
.recipe__content{
    display: flex;
    width: 100%;
    height: 700px;
    background: white;
    
}

.recipe__content--left, .recipe__content--right{
    width: 50%;
    padding: 24px 48px;
    overflow: hidden;
}

.recipe__content--left{
    border-right: 1px solid black;
}
.recipe__content--name{
    text-transform: uppercase;
    margin-bottom: 24px;
    font-weight: bolder;

}

.recipe__content--info{
    text-transform: uppercase;
}
.recipe__content--subtitle{
    margin-bottom: 8px;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ingredient__wrapper {
    flex-basis: calc(100%/2); 
    margin-bottom: 8px; 
}

.step{
    font-size: 14px;
    margin-bottom: 12px;
}

.recipe__content--right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid black;
}

.recipe__content--img{
    max-height: 600px;
  }


@media (max-width: 768px) {
    #home, .home__container, .recipe__content {
      flex-direction: column;
      height: auto;
    }
  
    .home__left, .home__right, .recipe__content--left, .recipe__content--right {
      width: 100%;
    }
  
    .home__right--slogan, .category__name, .recipe__content--name {
      font-size: 32px; 
    }
  
    .category, .recipe {
      width: calc(100% / 2); 
    }
    .recipe__card {
        flex-direction: row; 
        align-items: center; 
      }
    
      .recipe__img {
        width: 50%; 
        border-radius: 0; 
      }
    
      .recipe__name {
        font-size: 14px;
      }
  }
  
  @media (max-width: 480px) {
    .category, .recipe {
      width: 100%; 
    }
  
    .home__right--slogan, .category__name, .recipe__content--name {
      font-size: 24px; 
    }
  
    .category__choice {
      width: calc(100% / 3); 
  }
  .recipe__card {
    flex-direction: column; /* Stack image and name vertically on very small screens */
  }

  .recipe__img {
    width: 100%; /* Image takes full width of the card */
  }
}


  

  






