* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #ffedf3; */
  background-color: #fff3e0;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

hr{
  margin: 16px 0;
  height: 2px;
  background-color: black;
  border: none;
}


button {
  width: 100%;
}

.btn {
  max-width: 250px;
  padding: 24px 0;
  font-size: 24px;
  border-radius: 9999px;
  font-weight: 700;
}

.container {
  padding: 80px 24px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}

/* navbar */

nav {
  height: 80px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: relative;
}

.logo__img {
  width: 50px;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  padding: 8px;
  color: black;
}

.nav__link:hover {
  color: #b49d75;

}

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
}

.searchbar__input {
  max-width: 350px;
  padding: 12px 20px;
  border: 2px solid black;
  border-radius: 9999px;
}

